* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe9e9;
}

/* inicio do header */

header {
    display: flex;
    flex-direction: row;
    background-color: #E57373;
    width: 99.1vw;
    height: 10vh;
    justify-content: center;
 
    align-items: center;
}

.logo {
    width: 14%;
    margin-top: 5px;
    align-self: flex-start;
}

.logo img{
    width: 32%;
    margin-left: 5vw;
    border-radius: 20%;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 600px;
    
    text-align: center;
    align-items: center;    
}

.links a {
    text-decoration: none;
}

input{
    cursor: pointer;
}

.links .rosa-claro {  
    
    font-size: 1.2rem;
    user-select: none;
    border-radius: 5px;
    background-color: #FFBCBB;
    color: black;
    border: none;
    
    width: fit-content;
    padding: 15px;
    
}
.loja {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #AF4448;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: none;
    text-decoration-line: none;
    width: 120px;
    height: 60px;
}

/* fim do header */

/* inicio do main categorias dos produtos */
/* 
main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

} */

.produtos {
    display: flex;
    flex-direction: row;
    background-color: #ffa4a2;
    height: 7vh;
    padding-left: 250px;
}
.produtos ul {
    display: flex;
    gap: 100px;
    list-style-type: none;
}

.produtos a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 1s;
}
.btn-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 4vh;
    background-color: #af4448;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-decoration-line: none;
    margin-top: 10px;
}
/* fim do main categoria produtos */

/**/

.descrições {
    display: flex;
    gap: 30vh;
    align-items: center;
    justify-content: center;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 2vh;
    background-color: whitesmoke;
}

.img {
    width: 100vw;
    height: 100vh;

}

.title {
    background-color: #af4448;
    padding-left: 7vh;
    font-size: 2vh;
    height: 3vh;
    color: white;
}

.at {
    background-color: #ffa4a2;
    width: 15vw;
    height: 43vh;
    margin-top: 10vh;
}

p {
    padding-left: 10px;
}

.preco {
    padding-left: 9vh;
    font-size: 30px;
    font-style: unset;
}
.parcelado {
    padding-left: 15vh;
    font-size: 18px;
    font-style: italic;
    color: #555555f1;
}

/**/

footer {
    display: flex;
    margin-top: 8vh;
    background-color: black;
    /* width: 204.9vw; */
    height: 13vh;
}

.footer_class {
    display: flex;
    color: white;

    gap: 25vw;
    margin-left: 10vw;
    /* margin-right: 10vw; */
}
.copyright {
    display: flex;
    margin-top: 9vh;
}
.informacoes {
    margin-top: 6vh;
}
.img_copyright {
    display: flex;
    gap: 0.5vw;
    position: absolute;
    margin-top: 4vh;
    margin-left: 32vw;
}
.redessociais {
    border-radius: 100%;
    width: 2vw;
    height: 3vh;
}
h3 {
    display: flex;
    color: white;
}
